__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.dvc
.dvcignore
venv
env
.env
*.md
Jenkinsfile
k8s/
data/
metrics/
models/staging/
.pytest_cache
.coverage
htmlcov
